# Archivos de Python
*.pyc
*.pyo
*.pyd
test.py
.lab_config.json
nuitka-crash-report*
.python-version

# Archivos de __pycache__
__pycache__/

# Archivos de setup
setup.pyc
setup.py~

# Archivos de lab.egg-info
lab.egg-info/

# Archivos de pyenv
pyenv/
.direnv
.envrc
uv.lock

# Archivos de .git
.gitignore~

# Otros archivos
*.log
*.tmp
*.bak
*.swp
*.swo
*.ds_store
*.DS_Store

# build output
dist/
build/
lab.spec
main.build
main.dist
main.onefile-build

# generated types
webapp/hosts
webapp/ansible.cfg
webapp/site

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
